/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* Valores globales */

body {
    box-sizing: border-box;
}

/* variables de entorno */
:root {
    --font-size-titulos: 5rem;
    --font-size-cuerpo: 1rem;
    --font-weight-cuerpo: 400;
}

